
<% @photos.each do |photo|  %>
<br>
<div class="card" style="width: 20rem;">
  <div class="card-header"><%= photo.username %></div>
  <%= image_tag photo.url, class: "card-img-top", alt: "photo" %>
  <div class="card-block">
    <p class="card-text"><%= photo.caption %></p>
  </div>
</div><br>
<% end %>