// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// in file: home.scss
.card.photo {
  width: 500px;
  margin: 10px auto; // center the div in the page
}

.card {
  // SCSS allows nesting CSS rules
  img {
    max-width: 100%; // prevent the image from overstretching
    
  }
}


